[Kawpow]
wallet = Rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
coin=Rvn
rigName = {{ inventory_hostname_short }}
email = mplex2000@yahoo.com
pool1 = {{ crminer_crypto.rvn.pool1 }}
pool2 = {{ crminer_crypto.rvn.pool2 }}
