#!/bin/bash

POOL={{ crypto.eth.pool1 }}:{{ crypto.eth.pool_port.stratum }}
WALLET={{ crypto.eth.addr }}

/minebox/lolminer/bin/lolMiner --algo ETHASH --pool $POOL --user $WALLET.$HOSTNAME $@ --4g-alloc-size 4076