#!/bin/bash
eth_addr={{ crypto.eth.addr }}

cd /minebox/phoenixminer

./PhoenixMiner \
  -pool ssl://{{ crypto.eth.pool1 }}:{{ crypto.eth.pool_port['ssl'] }} \
  -pool2 ssl://{{ crypto.eth.pool2 }}:{{ crypto.eth.pool_port['ssl'] }} \
  -coin eth \
  -amd -acm \
  -clKernel 2 \
  -nvmem 1 \
  -wal ${eth_addr}.${HOSTNAME}
