#!/bin/bash

POOL={{ crypto.eth.pool1 }}:{{ crypto.eth.pool_port.stratum }}
WALLET={{ crypto.eth.addr }}

# for ethermine.org
#/minebox/lolminer/bin/lolMiner --algo ETHASH --pool $POOL --user $WALLET.$HOSTNAME $@ --4g-alloc-size 4076

# for miningpoolhub.com
/minebox/lolminer/bin/lolMiner --algo ETHASH --pool $POOL --user cultclassik.$HOSTNAME --pass x --4g-alloc-size 4076