#!/bin/bash
ETH_ADDR="{{ crminer_crypto.eth.addr }}"
{% if (crminer_gpu_arch == 'amd' and crminer_gpu_conf.currency == 'eth') %}
    /minebox/lolminer/start-lolminer.sh

{% elif (crminer_gpu_arch == 'amd'  and crminer_gpu_conf.currency == 'rvn') %}
    /minebox/nbminer/start-nbminer.sh

{% elif (crminer_gpu_arch == 'nvidia' and crminer_gpu_conf.currency == 'eth' and crminer_type == 'docker') %}
    /minebox/ethminer/bin/ethminer -U \
      -P stratum1+tcp://{{ crminer_crypto.eth.addr }}.${HOSTNAME}@{{ crminer_crypto.eth.pool1 }} \
      -P stratum1+tcp://{{ crminer_crypto.eth.addr }}.${HOSTNAME}@{{ crminer_crypto.eth.pool2 }} \
      --HWMON 1 --report-hr

{% else %}
    /minebox/lolminer/start-lolminer.sh

{% endif %}

# ethminer options...
# /minebox/ethminer/ethminer -G \
# --cu-devices 0
# --opencl-devices 0
#-P stratum1+tcp://${ETH_ADDR}.${HOSTNAME}@{{ crminer_crypto.eth.pool1 }} \
#-P stratum1+tcp://${ETH_ADDR}.${HOSTNAME}@{{ crminer_crypto.eth.pool2 }}

